body {
  color: white;
  background-color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    display: grid;
    place-items: center;
    min-height: 90vh;
  }

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  padding: 1.4em 2em;
  border-radius: .8em;
  background-color: rgba(white, .05);
  border: 1px solid rgba(255, 255, 255, .15);
  box-shadow: 0px 4px 20px -10px rgba(0, 0,0 , .1);

  
  input {
    border: none;
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
    border-radius: 4px;
    padding: 0.6em .4em;
    outline: none;
    min-width: 240px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.125);
    font-size: 14px;
    font-weight: 500;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    
  }

  button {
    
    &#button-copy {
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    

    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: #eee;
    font: inherit;
    font-weight: 500;
    letter-spacing: 0;
    padding: 8px 18px;
    font-size: 14px;
    border-radius: 4px;
    transition: 0.25s ease;
    border: 1px solid rgba(255, 255, 255, 0.125);
    user-select: none;
    
    &:not(:disabled) {
      cursor: pointer;
    }

    &:disabled {
      background-color: rgba(255, 255, 255, 0.05);
      color: rgba(255, 255, 255, .3);
      border: 1px solid rgba(255, 255, 255, 0.05);
      cursor: not-allowed;
    }

    &:not(:disabled):hover {
      background-color: rgba(255, 255, 255, 0.2);
    }

    &:not(:disabled):active {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
